/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700
*/

.comfortaa 
{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}