/* Media query per schermi con risoluzione di 1366px in giù */
@media (max-width: 1366px) 
{
    /* Regole CSS per schermi con risoluzione di 1366px in giù */

    /* --- SEZIONE HEADER --- */
    .header-menu-container
    {
        width: 90%;
    }

    .header-icon
    {
        margin-left: 15px;
    }

    /* --- SEZIONE HERO --- */
    .hero-content-title 
    {
        font-size: 25px;
    }

    .hero-content-desc 
    {
        font-size: 1.5em; /* Esempio di dimensione del testo descrittivo */
    }


    /* --- SEZIONE CONTENT --- */
    .content
    {
        top: 135%; /* Utilizza una percentuale per mantenere il layout responsivo */
    }

    .content-text-title h1 
    {
        font-size: 1.7em;
    }

    .content-text-desc p 
    {
        font-size: 1.1em;
    }

    .swiper-button-prev 
    {
        left: 1.5%;
    }

    .swiper-button-next 
    {
        right: 1.5%;
    }

    /* --- SEZIONE INFO-POINT --- */
    .info-point-container
    {
        position: absolute;
        bottom: -340%;
    }

    .info-point-title
    {
        width: 100%;
    }

    .info-point-icon
    {
        margin-bottom: 10%;
        width: 15%;
        height: 15%;
    }

    .info-point-content-time .info-point-text
    {
        position: relative;
        top: 1.5%;
    }












}
